body{
    background-image: url("img/plano\ fundo.jpg");
    font-family: Arial, sans-serif;
    margin-right: 12%;
    margin-left: 12%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    }
html{
    min-height: 100%;
    position: relative 
    }
#Plantas{
    width: 650px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    }
h1{
    text-align: center;
    color:green;
    }
a:link{
    color: blue;
    }
a:visited{
    color: black;
    text-decoration: none;
    }
a:hover{
    color:brown;
    text-decoration: none;
    }
p{
    text-align: justify;
    margin-top: 0px;
    }
nav li{
    display:inline-block;
    padding-left: 20px;
    font-size: 24px;
    }
nav ul{
    background-color: greenyellow;
    }
caption{
    background-color: rgb(240, 184, 184);
    font-size: 100%;
    font-family: Arial, sans-serif;
    }
td, th{
    padding:3px 10px 3px 10px;        
    }
thead{
    background:greenyellow;
    border-width: 1px;
    border-color:black;
    border-style: solid;
    }
tbody{
    background-color:#E9967A;
    }
